In [106]:
#profitableHospital - Tableau Setup

In [107]:
import pandas as pd

In [108]:
#2017 Hospital Data from Centers for Medicare Services
year2017 = pd.read_csv("main4_2017.csv")
year2017.head(2)

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,Rural Versus Urban,CCN Facility Type,Fiscal Year Begin Date,Fiscal Year End Date,...,Discharges Per Bed,Discharges Per Bed Days,Discharge/FTE,Net Income %,Net Income Score,Labor %,Overhead %,Depreciation %,LbrExp/FTE,Overhead Exp Per Bed
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,10/01/2016 12:00:00 AM,12/31/2016 12:00:00 AM,...,6.214286,0.067547,6.214286,0.308395,1,0.715116,0.627406,0.031451,18996.972990,76691.942857
1,340106,SANDHILLS REGIONAL MEDICAL CENTER,1000 WEST HAMLET AVE,HAMLET,NC,28345,R,STH,10/01/2016 12:00:00 AM,11/30/2016 12:00:00 AM,...,3.062500,0.050205,3.062500,-0.337043,3,0.509928,0.924882,0.073496,61909.838473,47792.984375

In [109]:
#2016 Hospital Data from Centers for Medicare Services
year2016 = pd.read_csv("main4_2016.csv")
year2016.head(2)

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,Rural Versus Urban,CCN Facility Type,Fiscal Year Begin Date,Fiscal Year End Date,...,Discharges Per Bed,Discharges Per Bed Days,Discharge/FTE,Net Income %,Net Income Score,Labor %,Overhead %,Depreciation %,LbrExp/FTE,Overhead Exp Per Bed
0,310050,SAINT CLARES HOSPITAL- DENVILLE,25 POCONO ROAD,DENVILLE,NJ,07834,U,STH,10/01/2015,12/31/2015,...,12.495385,0.135819,12.495385,0.105576,2,0.436872,0.541184,0.034317,19215.838152,132486.553846
1,340119,STANLY REGIONAL MEDICAL CENTER,301 YADKIN STREET,ALBEMARLE,NC,28001,U,STH,01/01/2016,02/29/2016,...,6.463918,0.107732,6.463918,-0.103473,3,0.594935,0.708396,0.107413,31006.724429,90054.536082

In [110]:
#2015 Hospital Data from Centers for Medicare Services
year2015 = pd.read_csv("main4_2015.csv")
year2015.head(2)

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,Rural Versus Urban,CCN Facility Type,Fiscal Year Begin Date,Fiscal Year End Date,...,Discharges Per Bed,Discharges Per Bed Days,Discharge/FTE,Net Income %,Net Income Score,Labor %,Overhead %,Depreciation %,LbrExp/FTE,Overhead Exp Per Bed
0,110050,MURRAY MEDICAL CENTER,707 OLDS ELLIJAY HIGHWAY,CHATSWORTH,GA,30705,U,STH,10/01/2014,04/30/2015,...,8.068966,0.038061,8.068966,-0.188530,3,0.660047,0.745925,0.138715,29311.008179,136861.793103
1,420016,SOUTHERN PALMETTO HOSPITAL,811 REYNOLDS ROAD,BARNWELL,SC,29812,R,STH,01/01/2015,12/31/2015,...,30.000000,0.082192,30.000000,-0.161392,3,0.890036,0.746006,0.169899,52809.873585,535726.000000

In [111]:
#Lattitude & Longitude for the 2017 hospital listing
geoTable = pd.read_csv("geocoded2017.csv")
geoTable

      Provider CCN        lat         lng
0           510013  39.946236  -80.752966
1           340106  34.901612  -79.708561
2           450178  30.567794  -87.393012
3           341317  36.418001  -80.230915
4           110003  31.224905  -82.347732
...            ...        ...         ...
6166        501333  46.987218 -120.537885
6167        521312  42.683749  -90.110449
6168        531311  44.408873 -104.374092
6169        531312  44.526564 -109.073785
6170        531314  42.753195 -104.445431

[6171 rows x 3 columns]

In [112]:
#Append a lattitude & longitude
tableau2017 = pd.merge(year2017, geoTable, how= "left", on=['Provider CCN'])
tableau2017.head(2)

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,Rural Versus Urban,CCN Facility Type,Fiscal Year Begin Date,Fiscal Year End Date,...,Discharge/FTE,Net Income %,Net Income Score,Labor %,Overhead %,Depreciation %,LbrExp/FTE,Overhead Exp Per Bed,lat,lng
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,10/01/2016 12:00:00 AM,12/31/2016 12:00:00 AM,...,6.214286,0.308395,1,0.715116,0.627406,0.031451,18996.97299,76691.942857,39.946236,-80.752966
1,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,10/01/2016 12:00:00 AM,12/31/2016 12:00:00 AM,...,6.214286,0.308395,1,0.715116,0.627406,0.031451,18996.97299,76691.942857,39.946236,-80.752966

In [113]:
tableau2017.to_csv("tableau2017.csv", index=False, header=True)

In [114]:
#Append a lattitude & longitude
tableau2016 = pd.merge(year2016, geoTable, how= "left", on=['Provider CCN'])
tableau2016.head(2)

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,Rural Versus Urban,CCN Facility Type,Fiscal Year Begin Date,Fiscal Year End Date,...,Discharge/FTE,Net Income %,Net Income Score,Labor %,Overhead %,Depreciation %,LbrExp/FTE,Overhead Exp Per Bed,lat,lng
0,310050,SAINT CLARES HOSPITAL- DENVILLE,25 POCONO ROAD,DENVILLE,NJ,07834,U,STH,10/01/2015,12/31/2015,...,12.495385,0.105576,2,0.436872,0.541184,0.034317,19215.838152,132486.553846,40.894920,-74.465444
1,340119,STANLY REGIONAL MEDICAL CENTER,301 YADKIN STREET,ALBEMARLE,NC,28001,U,STH,01/01/2016,02/29/2016,...,6.463918,-0.103473,3,0.594935,0.708396,0.107413,31006.724429,90054.536082,35.364497,-80.195004

In [115]:
tableau2016.to_csv("tableau2016.csv", index=False, header=True)

In [116]:
#Append a lattitude & longitude
tableau2015 = pd.merge(year2015, geoTable, how= "left", on=['Provider CCN'])
tableau2015.head(2)

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,Rural Versus Urban,CCN Facility Type,Fiscal Year Begin Date,Fiscal Year End Date,...,Discharge/FTE,Net Income %,Net Income Score,Labor %,Overhead %,Depreciation %,LbrExp/FTE,Overhead Exp Per Bed,lat,lng
0,110050,MURRAY MEDICAL CENTER,707 OLDS ELLIJAY HIGHWAY,CHATSWORTH,GA,30705,U,STH,10/01/2014,04/30/2015,...,8.068966,-0.188530,3,0.660047,0.745925,0.138715,29311.008179,136861.793103,34.779956,-84.783038
1,420016,SOUTHERN PALMETTO HOSPITAL,811 REYNOLDS ROAD,BARNWELL,SC,29812,R,STH,01/01/2015,12/31/2015,...,30.000000,-0.161392,3,0.890036,0.746006,0.169899,52809.873585,535726.000000,NaN,NaN

In [117]:
tableau2015.to_csv("tableau2015.csv", index=False, header=True)

In [92]:
#Merge 2017 and 2016
df = pd.merge(year2017, year2016, how= "outer", on=['Provider CCN'])
df.head(2)

,Provider CCN,Hospital Name_x,Street Address_x,City_x,State Code_x,Zip Code_x,Rural Versus Urban_x,CCN Facility Type_x,Fiscal Year Begin Date_x,Fiscal Year End Date_x,...,Discharges Per Bed_y,Discharges Per Bed Days_y,Discharge/FTE_y,Net Income %_y,Net Income Score_y,Labor %_y,Overhead %_y,Depreciation %_y,LbrExp/FTE_y,Overhead Exp Per Bed_y
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,10/01/2016 12:00:00 AM,12/31/2016 12:00:00 AM,...,26.042857,0.071155,26.042857,-0.055802,3.0,0.597171,0.568437,0.030118,68036.167837,289950.857143
1,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,01/01/2017 12:00:00 AM,12/31/2017 12:00:00 AM,...,26.042857,0.071155,26.042857,-0.055802,3.0,0.597171,0.568437,0.030118,68036.167837,289950.857143

In [93]:
#Merge 2016-2017 with 2015
df2 = pd.merge(df, year2015, how= "outer", on=['Provider CCN'])
df2.head(2)

,Provider CCN,Hospital Name_x,Street Address_x,City_x,State Code_x,Zip Code_x,Rural Versus Urban_x,CCN Facility Type_x,Fiscal Year Begin Date_x,Fiscal Year End Date_x,...,Discharges Per Bed,Discharges Per Bed Days,Discharge/FTE,Net Income %,Net Income Score,Labor %,Overhead %,Depreciation %,LbrExp/FTE,Overhead Exp Per Bed
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,10/01/2016 12:00:00 AM,12/31/2016 12:00:00 AM,...,24.085714,0.065988,24.085714,-0.04938,3.0,0.594531,0.547448,0.036864,68076.839156,271697.171429
1,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,01/01/2017 12:00:00 AM,12/31/2017 12:00:00 AM,...,24.085714,0.065988,24.085714,-0.04938,3.0,0.594531,0.547448,0.036864,68076.839156,271697.171429

In [94]:
df2.to_csv("XXmain4tableau.csv", index=False, header=True)

In [95]:
# ... geocoding

In [96]:
# geoTable["Provider CCN"].dtype

In [97]:
# geoTable["lat"].dtype

In [98]:
# geoTable["lng"].dtype

In [99]:
# geoTable["Provider CCN"] = pd.to_numeric(geoTable["Provider CCN"])

In [100]:
# geoTable["Provider CCN"].dtype

In [101]:
# geoTable["Provider CCN"] = geoTable["Provider CCN"].apply(pd.to_numeric, errors='coerce')

In [102]:
# geoTable["Provider CCN"].dtype

In [103]:
#Append a lattitude & longitude
tabFile1 = pd.merge(df2, geoTable, how= "left", on=['Provider CCN'])
tabFile1.head(2)

,Provider CCN,Hospital Name_x,Street Address_x,City_x,State Code_x,Zip Code_x,Rural Versus Urban_x,CCN Facility Type_x,Fiscal Year Begin Date_x,Fiscal Year End Date_x,...,Discharge/FTE,Net Income %,Net Income Score,Labor %,Overhead %,Depreciation %,LbrExp/FTE,Overhead Exp Per Bed,lat,lng
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,10/01/2016 12:00:00 AM,12/31/2016 12:00:00 AM,...,24.085714,-0.04938,3.0,0.594531,0.547448,0.036864,68076.839156,271697.171429,39.946236,-80.752966
1,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,10/01/2016 12:00:00 AM,12/31/2016 12:00:00 AM,...,24.085714,-0.04938,3.0,0.594531,0.547448,0.036864,68076.839156,271697.171429,39.946236,-80.752966

In [104]:
tabFile1["Hospital Name"].drop_duplicates
tabFile1.head()

,Provider CCN,Hospital Name_x,Street Address_x,City_x,State Code_x,Zip Code_x,Rural Versus Urban_x,CCN Facility Type_x,Fiscal Year Begin Date_x,Fiscal Year End Date_x,...,Discharge/FTE,Net Income %,Net Income Score,Labor %,Overhead %,Depreciation %,LbrExp/FTE,Overhead Exp Per Bed,lat,lng
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,10/01/2016 12:00:00 AM,12/31/2016 12:00:00 AM,...,24.085714,-0.049380,3.0,0.594531,0.547448,0.036864,68076.839156,271697.171429,39.946236,-80.752966
1,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,10/01/2016 12:00:00 AM,12/31/2016 12:00:00 AM,...,24.085714,-0.049380,3.0,0.594531,0.547448,0.036864,68076.839156,271697.171429,39.946236,-80.752966
2,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,01/01/2017 12:00:00 AM,12/31/2017 12:00:00 AM,...,24.085714,-0.049380,3.0,0.594531,0.547448,0.036864,68076.839156,271697.171429,39.946236,-80.752966
3,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,U,STH,01/01/2017 12:00:00 AM,12/31/2017 12:00:00 AM,...,24.085714,-0.049380,3.0,0.594531,0.547448,0.036864,68076.839156,271697.171429,39.946236,-80.752966
4,340106,SANDHILLS REGIONAL MEDICAL CENTER,1000 WEST HAMLET AVE,HAMLET,NC,28345,R,STH,10/01/2016 12:00:00 AM,11/30/2016 12:00:00 AM,...,28.609375,-0.022814,2.0,0.318228,0.781069,0.039212,64302.047467,401073.203125,34.901612,-79.708561

In [105]:
tabFile1.to_csv("main4tableau.csv", index=False, header=True)