In [18]:
#profitableHospital - Tableau Setup

In [19]:
import pandas as pd

In [23]:
#2017 Hospital Data from Centers for Medicare Services
df = pd.read_csv("mainFile4.csv")
df.head(2)

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,CON,Urban,Inpatient %,Outpatient %,...,Discharges Per Bed,Discharges Per Bed Days,Discharges Per FTE,Net Income %,Net Income Score,Labor %,Overhead %,Depreciation %,Labor Exp Per FTE,Overhead Exp Per Bed
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,1.0,1.0,0.311881,0.688119,...,6.214286,0.067547,6.214286,0.308395,1,0.715116,0.627406,0.031451,18996.972990,76691.942857
1,340106,SANDHILLS REGIONAL MEDICAL CENTER,1000 WEST HAMLET AVE,HAMLET,NC,28345,1.0,0.0,0.325730,0.674270,...,3.062500,0.050205,3.062500,-0.337043,3,0.509928,0.924882,0.073496,61909.838473,47792.984375

In [24]:
#Lattitude & Longitude for the 2017 hospital listing
geoTable = pd.read_csv("geocoded2017.csv")
geoTable

      Provider CCN        lat         lng
0           510013  39.946236  -80.752966
1           340106  34.901612  -79.708561
2           450178  30.567794  -87.393012
3           341317  36.418001  -80.230915
4           110003  31.224905  -82.347732
...            ...        ...         ...
6166        501333  46.987218 -120.537885
6167        521312  42.683749  -90.110449
6168        531311  44.408873 -104.374092
6169        531312  44.526564 -109.073785
6170        531314  42.753195 -104.445431

[6171 rows x 3 columns]

In [40]:
geoTable["Provider CCN"].dtype

dtype('int64')

In [41]:
geoTable["lat"].dtype

dtype('float64')

In [42]:
geoTable["lng"].dtype

dtype('float64')

In [43]:
geoTable["Provider CCN"] = pd.to_numeric(geoTable["Provider CCN"])

In [44]:
geoTable["Provider CCN"].dtype

dtype('int64')

In [45]:
geoTable["Provider CCN"] = geoTable["Provider CCN"].apply(pd.to_numeric, errors='coerce')

In [46]:
geoTable["Provider CCN"].dtype

dtype('int64')

In [47]:
#Append a lattitude & longitude
tabFile1 = pd.merge(df, geoTable, how= "left", on=['Provider CCN'])
tabFile1.head(2)

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,CON,Urban,Inpatient %,Outpatient %,...,Discharges Per FTE,Net Income %,Net Income Score,Labor %,Overhead %,Depreciation %,Labor Exp Per FTE,Overhead Exp Per Bed,lat,lng
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,1.0,1.0,0.311881,0.688119,...,6.214286,0.308395,1,0.715116,0.627406,0.031451,18996.97299,76691.942857,39.946236,-80.752966
1,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,1.0,1.0,0.311881,0.688119,...,6.214286,0.308395,1,0.715116,0.627406,0.031451,18996.97299,76691.942857,39.946236,-80.752966

In [49]:
tabFile1["Hospital Name"].drop_duplicates
tabFile1.head()

,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,CON,Urban,Inpatient %,Outpatient %,...,Discharges Per FTE,Net Income %,Net Income Score,Labor %,Overhead %,Depreciation %,Labor Exp Per FTE,Overhead Exp Per Bed,lat,lng
0,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,1.0,1.0,0.311881,0.688119,...,6.214286,0.308395,1,0.715116,0.627406,0.031451,18996.972990,76691.942857,39.946236,-80.752966
1,510013,REYNOLDS MEMORIAL HOSPITAL,800 WHEELING AVENUE,GLEN DALE,WV,26038,1.0,1.0,0.311881,0.688119,...,6.214286,0.308395,1,0.715116,0.627406,0.031451,18996.972990,76691.942857,39.946236,-80.752966
2,340106,SANDHILLS REGIONAL MEDICAL CENTER,1000 WEST HAMLET AVE,HAMLET,NC,28345,1.0,0.0,0.325730,0.674270,...,3.062500,-0.337043,3,0.509928,0.924882,0.073496,61909.838473,47792.984375,34.901612,-79.708561
3,340106,SANDHILLS REGIONAL MEDICAL CENTER,1000 WEST HAMLET AVE,HAMLET,NC,28345,1.0,0.0,0.325730,0.674270,...,3.062500,-0.337043,3,0.509928,0.924882,0.073496,61909.838473,47792.984375,34.901612,-79.708561
4,250025,GILMORE MEMORIAL REGIONAL MEDICAL CE,1105 EARL FRYE BLVD,AMORY,MS,38821,1.0,0.0,0.364763,0.635237,...,8.589474,-0.132426,3,0.414191,0.826683,0.119266,21706.316534,109668.063158,33.976509,-88.476737

In [50]:
tabFile1.to_csv("main4tableau.csv", index=False, header=True)